---
import Head from '../components/Head.astro';
import SiteHeader from '../components/SiteHeader.vue';
import SiteFooter from '../components/SiteFooter.vue';
import "@fontsource-variable/doto";
import "@fontsource-variable/jetbrains-mono";
import { getGitBranch, getLatestCommitHash, getGitHubRepoUrl } from '../utils/gitInfo.js';

export interface Props {
    title?: string;
    description?: string;
    favicon?: string;
}

const {title, description, favicon} = Astro.props;
const gitBranch = getGitBranch();
const commitHash = getLatestCommitHash();
const repoUrl = getGitHubRepoUrl();
---

<html lang="en">
<Head
    title={title}
    description={description}
    favicon={favicon}
>
</Head>
<body>
<SiteHeader gitBranch={gitBranch} client:load />
<slot/>
<SiteFooter commitHash={commitHash} repoUrl={repoUrl} client:load />
</body>
</html>

<style is:global>
    html {
        font-family: 'JetBrains Mono', sans-serif;
        background-color: #f6f6f6;
        color: #111;
    }

    h1, h2, h3, h4, h5, h6 {
        margin: 0;
    }

    body {
        margin: 0;
        padding: 0;
        max-width: 100%;
        min-height: 100vh;
    }
</style>
